@import 'tailwindcss';

@config '../../../tailwind.config.mjs';

@layer base {

  a,
  input,
  button {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background;
  }
}